input, select {
    border: none;
    border-bottom: 2px solid #BB000E;
    margin: 5px;
}

input {
    outline-style: none;
}

.inputContainer {
    margin: auto;
    text-align: left;
    padding-left: 13px;
}
.inputContainer input {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #BB000E;
    color: white;
    border: none;
    padding: 5px;
    margin: 5px;
}

button:hover {
    background-color: #E31C25;
}

.icon {
    padding-right: 5px;
}
